<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>https://oss-pk-arab.badambiz.com/gift/video_1647604421.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/approach/video_1665218496.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/gift/video_1618832653.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/gift/video_1619773937.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/approach/video_1665217381.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/gift/video_1618224239.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/gift/video_1614741024.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/approach/video_1637031730.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/approach/video_1668046374.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/gift/116_1607596499.svga</string>
	<string>https://oss-pk-arab.badambiz.com/approach/5.svga</string>
	<string>https://oss-pk-arab.badambiz.com/gift/%E5%9F%83%E8%8F%B2%E5%B0%94%E9%93%81%E5%A1%94_1612409053.svga</string>
	<string>https://oss-pk-arab.badambiz.com/gift/%E5%92%96%E5%95%A1%E5%A3%B6_1626098934.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/approach/%E4%B8%AD%E7%BA%A7%E9%BA%92%E9%BA%9F_1605690811.svga</string>
	<string>https://oss-pk-arab.badambiz.com/gift/40.svga</string>
	<string>https://oss-pk-arab.badambiz.com/gift/video_1615883134.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/gift/95_1603779956.svga</string>
	<string>https://oss-pk-arab.badambiz.com/gift/video_1623766656.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/gift/video_1650971326.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/approach/%E6%9C%89%E9%92%B1%E4%BA%BA%E6%9D%A5%E4%BA%86_1611145189.svga</string>
	<string>https://oss-pk-arab.badambiz.com/gift/35.svga</string>
	<string>https://oss-pk-arab.badambiz.com/gift/97_1603794192.svga</string>
	<string>https://oss-pk-arab.badambiz.com/approach/video_1619580855.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/gift/36.svga</string>
	<string>https://oss-pk-arab.badambiz.com/gift/76.svga</string>
	<string>https://oss-pk-arab.badambiz.com/gift/%E6%91%87%E9%92%B1%E6%A0%91_1616414328.svga</string>
	<string>https://oss-pk-arab.badambiz.com/gift/78.svga</string>
	<string>https://oss-pk-arab.badambiz.com/gift/video_1678261117.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/gift/22_party3.svga</string>
	<string>https://oss-pk-arab.badambiz.com/gift/29.svga</string>
	<string>https://oss-pk-arab.badambiz.com/approach/video_1639450196.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/approach/video_1639463307.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/approach/video_1632997184.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/approach/fenghuan_1605691633.svga</string>
	<string>https://oss-pk-arab.badambiz.com/approach/video_1650024231.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/pk_video_1640083266.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/gift/10.svga</string>
	<string>https://oss-pk-arab.badambiz.com/gift/101_1605856392.svga</string>
	<string>https://oss-pk-arab.badambiz.com/gift/%E5%9C%A3%E8%AF%9E%E6%B0%B4%E6%99%B6%E7%90%83_1608648438.svga</string>
	<string>https://oss-pk-arab.badambiz.com/gift/video_1623765841.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/gift/luotuo_1609846061.svga</string>
	<string>https://oss-pk-arab.badambiz.com/approach/video_1618990147.mp4</string>
	<string>https://pk-arab.oss-me-east-1.aliyuncs.com/che.svga</string>
	<string>https://oss-pk-arab.badambiz.com/approach/%E9%AB%98%E7%BA%A7%E9%A3%9E%E8%88%B9%EF%BC%88%E5%8E%8B%E7%BC%A9%EF%BC%89_1607067580.svga</string>
	<string>https://oss-pk-arab.badambiz.com/gift/53.svga</string>
	<string>https://oss-pk-arab.badambiz.com/approach/video_1656063253.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/gift/video_1618831047.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/approach/video_1637047538.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/gift/video_1640954049.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/gift/%E7%A9%BA%E8%B0%83_1628086059.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/gift/104_1605861561.svga</string>
	<string>https://oss-pk-arab.badambiz.com/approach/car_halei_1605691391.svga</string>
	<string>https://oss-pk-arab.badambiz.com/gift/98_1604661717.svga</string>
	<string>https://oss-pk-arab.badambiz.com/gift/video_1623766869.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/gift/video_1626110804.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/gift/video_1615883179.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/gift/video_1615883215.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/approach/video_1669885944.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/pk_video_1640083240.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/approach/8.svga</string>
	<string>https://oss-pk-arab.badambiz.com/gift/93_1603353280.svga</string>
	<string>https://oss-pk-arab.badambiz.com/gift/%E4%B8%98%E6%AF%94%E7%89%B9_1611140850.svga</string>
	<string>https://oss-pk-arab.badambiz.com/gift/descsvgaarray_0%20(3)_1623766151.svga</string>
	<string>https://oss-pk-arab.badambiz.com/approach/fenghuan_1605754431.svga</string>
	<string>https://oss-pk-arab.badambiz.com/gift/26.svga</string>
	<string>https://oss-pk-arab.badambiz.com/gift/animation_list_0animation_url_1614594848.svga</string>
	<string>https://oss-pk-arab.badambiz.com/gift/image_file_1623833066.svga</string>
	<string>https://oss-pk-arab.badambiz.com/gift/92_1603352900.svga</string>
	<string>https://oss-pk-arab.badambiz.com/approach/%E7%BB%8F%E7%BA%AA%E4%BA%BA%E8%80%81%E8%99%8E_1609384479.svga</string>
	<string>https://oss-pk-arab.badambiz.com/gift/video_1623766469.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/gift/54.svga</string>
	<string>https://oss-pk-arab.badambiz.com/gift/video_1616491119.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/gift/43.svga</string>
	<string>https://oss-pk-arab.badambiz.com/gift/video_1616151718.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/approach/posche_1605691453.svga</string>
	<string>https://oss-pk-arab.badambiz.com/animation/video_1641280832.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/gift/%E7%A0%B8%E6%89%8B%E6%9C%BA_1616415832.svga</string>
	<string>https://oss-pk-arab.badambiz.com/gift/video_1628085727.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/approach/4.svga</string>
	<string>https://oss-pk-arab.badambiz.com/approach/video_1665218475.mp4</string>
	<string>https://pk-arab.oss-me-east-1.aliyuncs.com/chungao.svga</string>
	<string>https://oss-pk-arab.badambiz.com/approach/%E5%89%91%E8%A2%8B%E8%99%8E%E6%9C%80%E7%BB%88%E8%BE%93%E5%87%BA_1616465646.svga</string>
	<string>https://oss-pk-arab.badambiz.com/gift/video_1623765566.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/approach/video_1617675772.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/approach/car_jgpc_1605691560.svga</string>
	<string>https://oss-pk-arab.badambiz.com/approach/video_1656066380.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/pk_video_1640083290.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/gift/video_1616151938.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/gift/86.svga</string>
	<string>https://oss-pk-arab.badambiz.com/gift/video_1620286695.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/approach/video_1640167032.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/gift/video_1616152115.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/gift/video_1628502790.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/gift/video_1618889018.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/gift/%E9%9B%AA%E4%BA%BA%E8%B7%B3%E8%88%9E_1608648555.svga</string>
	<string>https://oss-pk-arab.badambiz.com/gift/live_mp4_video_1608647432749_1610450539.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/pk_video_1640083312.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/approach/video_1617677195.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/approach/%E5%85%83%E6%97%A6%E5%BA%A7%E9%A9%BE_1608654300.svga</string>
	<string>https://oss-pk-arab.badambiz.com/approach/video_1658818529.mp4</string>
	<string>https://pk-arab.oss-me-east-1.aliyuncs.com/xiangshui.svga</string>
	<string>https://oss-pk-arab.badambiz.com/gift/41.svga</string>
	<string>https://oss-pk-arab.badambiz.com/gift/svgUrl_1615203297.svga</string>
	<string>https://pk-arab.oss-me-east-1.aliyuncs.com/jiezhi.svga</string>
	<string>https://oss-pk-arab.badambiz.com/gift/%E7%88%B1%E5%BF%83%E6%89%8B%E6%9E%AA_1616417034.svga</string>
	<string>https://oss-pk-arab.badambiz.com/gift/video_1624358951.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/approach/video_1668046386.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/gift/50.svga</string>
	<string>https://oss-pk-arab.badambiz.com/gift/live_mp4_video_1608196265930_1610546268.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/gift/106_1606309252.svga</string>
	<string>https://oss-pk-arab.badambiz.com/gift/%E5%8F%AF%E4%B9%90_1611140278.svga</string>
	<string>https://oss-pk-arab.badambiz.com/approach/live_mp4_video_1608647432749_1610448501.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/gift/79.svga</string>
	<string>https://oss-pk-arab.badambiz.com/gift/video_1618231546.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/gift/21.svga</string>
	<string>https://oss-pk-arab.badambiz.com/approach/shizijinchang_1605699389.svga</string>
	<string>https://pk-arab.oss-me-east-1.aliyuncs.com/qiqiu.svga</string>
	<string>https://oss-pk-arab.badambiz.com/gift/live_mp4_video_1608196265930_1610549127.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/gift/56.svga</string>
	<string>https://oss-pk-arab.badambiz.com/gift/75.svga</string>
	<string>https://oss-pk-arab.badambiz.com/gift/image_file_1605593965.svga</string>
	<string>https://oss-pk-arab.badambiz.com/approach/%E8%9D%B4%E8%9D%B6_1606911438.svga</string>
	<string>https://oss-pk-arab.badambiz.com/gift/107_1606309326.svga</string>
	<string>https://oss-pk-arab.badambiz.com/gift/%E4%B8%AD%E7%BA%A7%E5%AE%9D%E7%AE%B1-%E6%83%85%E4%BE%A3_1616152449.svga</string>
	<string>https://oss-pk-arab.badambiz.com/approach/%E7%88%B1%E6%83%85%E9%B8%9F_1612343880.svga</string>
	<string>https://oss-pk-arab.badambiz.com/gift/34.svga</string>
	<string>https://oss-pk-arab.badambiz.com/gift/video_1618888829.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/gift/31.svga</string>
	<string>https://oss-pk-arab.badambiz.com/approach/video_1665217403.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/gift/81.svga</string>
	<string>https://oss-pk-arab.badambiz.com/approach/video_1637031467.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/approach/%E7%BB%8F%E7%BA%AA%E4%BA%BA%E8%80%81%E8%99%8E_1608720788.svga</string>
	<string>https://oss-pk-arab.badambiz.com/gift/55.svga</string>
	<string>https://pk-arab.oss-me-east-1.aliyuncs.com/shoubiao.svga</string>
	<string>https://oss-pk-arab.badambiz.com/gift/108_1606979861.svga</string>
	<string>http://assets.zvod.badambiz.com/live_anim_X_1600069017222.svga</string>
	<string>https://oss-pk-arab.badambiz.com/gift/25_flowers.svga</string>
	<string>https://oss-pk-arab.badambiz.com/approach/video_1629371120.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/approach/video_1658925845.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/approach/%E4%B8%AD%E7%BA%A7%E9%BA%92%E9%BA%9F_1605691338.svga</string>
	<string>https://oss-pk-arab.badambiz.com/approach/UFO_1608117517.svga</string>
	<string>https://oss-pk-arab.badambiz.com/approach/video_1656301750.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/gift/%E6%B5%AA%E6%BC%AB%E8%BD%AE%E8%88%B9_1612437101.svga</string>
	<string>https://oss-pk-arab.badambiz.com/gift/video_1616491215.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/gift/video_1624431491.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/approach/A_1609382003.svga</string>
	<string>https://oss-pk-arab.badambiz.com/gift/37.svga</string>
	<string>https://oss-pk-arab.badambiz.com/gift/video_1673438715.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/gift/video_1647604533.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/approach/car_ymngc_1605691599.svga</string>
	<string>https://oss-pk-arab.badambiz.com/approach/video_1656066489.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/gift/16_plane2.svga</string>
	<string>https://oss-pk-arab.badambiz.com/approach/video_1669885925.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/gift/81_1603338315.svga</string>
	<string>https://oss-pk-arab.badambiz.com/gift/video_1620287036.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/approach/video_1659004351.mp4</string>
	<string>https://oss-pk-arab.badambiz.com/gift/74.svga</string>
</array>
</plist>
